
@media (max-width:760) {
    
}
.mini-kutu{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: 20px;
}
#ana-kutu{
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
    padding:20px;
    justify-content: center;
}
.border{
    display: flex;
    flex-direction: row;
}
h3{
    font-size: 10px;
    margin-left: 150px;
    margin-bottom: 5px;
}

h6{
    margin-left: 10px;
    margin-bottom: 2px;
}
img{
    width: 200px;
    height: 130px;
}
span{
    font-size: 12px;
    margin-left: 10px;
  
}
footer{
    background-color: rgba(0, 0, 0, 0.795);
    display: flex;
    flex-direction: row;
}
.footer-span{
    font-size: 10px;
    color: white;
    margin-left: 80px;
    margin-bottom: 10px;
}

footer{
    background-color: rgba(0, 0, 0, 0.616);
    display: flex;

}
#footer-sekme{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
ul{
    font-size: 9px;
    color: #ffffff;
}
.baslik{
    text-align: center;
   
}
